<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="A demo of how to use gulp-twig"/>
  <meta name="author" content="Simon de Turck"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{% block pageTitle %}{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro:300:400:700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="assets/js/head-script.js"></script>
</head>
<body>
  <section>
    {% block page %}{% endblock %}
  </section>
  <script src="assets/js/body-script.js"></script>
</body>
</html>