.header {
  text-align: center;
  padding: 20px 0 0 0;
  height: 264px;
  background: url(../images/pocketninja-avatar.png) center center;
  background-size: contain;

  img {
    border-radius: 100px;
  }
}