

.page.home {
  %boxShape {
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,0.15);
    padding: 30px;
  }

  .yo {
    @extend %boxShape;
    background-color: $primaryColourLight;
    color: $primaryColourDark;
    margin-bottom: 30px;
  }

  .icon-test {
    @extend %boxShape;
    margin-bottom: 30px;

    .icon {
      &:before {
        @include anim-rotating();
      }
    }
  }

  .typography {
    @extend %boxShape;
    text-align: left;
  }
}