<footer id="footer" class="footer">
  <h3>This footer is imported with gulp twig</h3>
  <p>They didn't tell me how to do that on gulp-twig!  I had to go to Sensiolabs.org to the actually twig templates
    to do an import  It only showed me how to extend a master template.</p>
  <div id="homePivot" class="angles" data-pivot>
    <div class="pivot top" data-pivot-top></div>
    <div class="pivot middle-y" data-pivot-y-middle></div>
    <div class="pivot bottom" data-pivot-bottom></div>
    <div class="pivot left" data-pivot-left></div>
    <div class="pivot middle-x" data-pivot-x-middle></div>
    <div class="pivot right" data-pivot-right></div>
  </div>
  <div class="egg"></div>
  <div class="turnip"></div>
</footer>